
form > div > div > div > input {
    float: right;
}
form > div > div > div > label {
    float: left;
    font-size: 12px;
}
form > div > div> div {
    display: inline-block;
    width: 100%;
}
#flagHeader button.OFF {
    background-color: red;
}

#flagHeader button.ON {
    background-color: green;
}
