#titleimage{
    align-content: center;
}
.nav-justified > li {
    display: table-cell;
    width: 1%;
}
.nav-tabs>ul>li>a{
    font-size: xx-large;
}
input{
    width: 100%;
    float: left;
}
/*.row{*/
    /*overflow: auto;*/
/*}*/
img{
    margin: 10px 0px 10px 0px;
}
.row>*{
    color: #0093CA;
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin: -2px;
    text-align: center;
}
.firstrow{
    border-width: 0 !important;
}
#status>.row{
    border-top: solid;
    border-width: 3px;
    border-color: lightgray;
}
#config>.row{
    border-top: solid;
    border-width: 3px;
    border-color: lightgray;
}
#submit_btn {
    width: 100%;
    height: 100%;
    font-size: 5em;
    color: #ffffff;
}
.timeInput {
    font-size: 1em !important;
}

@media all and (min-width: 749px){
    .row>*{
        font-size: 5em;
    }
    ul>li>a>span{
        font-size: 5em;
    }
}
@media (min-width: 0) and (max-width: 748px){
    .row>*{
        font-size: 1.5em;
    }
    .row>.small_text{
        font-size: 1em !important;
    }
    ul>li>a>span{
        font-size: 1.5em;
    }
    #submit_btn {
        font-size: 2em;
    }
}


