<!DOCTYPE html>
<html ng-app="cpApp">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>CLOUDPONICS Mobile</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="css/user.css">
</head>
<body ng-controller="MobileController">
    <div class="row titleimage">
        <img style="padding: 10px 20px 0 20px" src="img/logo.png" class="img-responsive">
    </div>
    <div id="menu">
        <ul class="nav nav-pills nav-justified">
            <li id="data_tab" ng-class="{'active':tab_activo == 1}">
                <a ng-click="tab_activo=1;"><span class="glyphicon glyphicon-dashboard"> Data</span></a>
            </li>
            <li id="config_tab" ng-class="{'active':tab_activo == 2}">
                <a ng-click="tab_activo=2;"><span class="glyphicon glyphicon-cog"> Config</span></a>
            </li>
        </ul>
    </div>
    <div class="tab-content container-fluid">
        <div ng-switch on="tab_activo">
            <div id="status" ng-switch-when="1">
                <div class="row">
                    <!--title-->
                    <div class="col-xs-3"></div>
                    <div style="font-size: 1em" class="col-xs-5">Current</div>
                    <div style="font-size: 1em" class="col-xs-4">Reference</div>
                </div>
                <div class="row firstrow">
                    <!--EC-->
                    <div class="col-xs-3"><img class="img-responsive" src="img/ec.png"></div>
                    <div class="col-xs-5">{{status.eC}}</div>
                    <div class="col-xs-4">{{status.eCGoal}}</div>
                </div>
                <div class="row">
                    <!--pH-->
                    <div class="col-xs-3"><img class="img-responsive" src="img/ph.png"></div>
                    <div class="col-xs-5">{{status.pH}}</div>
                    <div class="col-xs-4">{{status.pHGoal}}</div>
                </div>
                <div class="row">
                    <!--waterTemp-->
                    <div class="col-xs-3"><img class="img-responsive" src="img/wtemp.png"></div>
                    <div class="col-xs-5">{{status.temp}}</div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="row">
                    <!--co2-->
                    <div class="col-xs-3"><img class="img-responsive" src="img/co2.png"></div>
                    <div class="col-xs-5">{{status.co2}}</div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="row">
                    <!--Temp-->
                    <div class="col-xs-3"><img class="img-responsive" src="img/temp.png"></div>
                    <div class="col-xs-5">{{status.airTemp}}</div>
                    <div class="col-xs-4">{{status.airTempGoal}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><img class="img-responsive" src="img/lum.png"></div>
                    <div class="col-xs-5">{{status.luminosity}}</div>
                    <div class="col-xs-4"></div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><img class="img-responsive" src="img/hum.png"></div>
                    <div class="col-xs-5">{{status.humidity}}</div>
                    <div class="col-xs-4">{{status.humidityGoal}}</div>
                </div>
            </div>
            <div id="config" ng-switch-when="2">
                <div class="row">
                    <div class="col-xs-3"><img class="img-responsive" src="img/ec.png"></div>
                    <div class="col-xs-6">
                        <input type="number" ng-model="params.eCGoal">
                    </div>
                    <div class="col-xs-3"> μS/m</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><img class="img-responsive" src="img/ph.png"></div>
                    <div class="col-xs-6">
                        <input type="number" ng-model="params.pHGoal">
                    </div>
                    <div class="col-xs-3"> level</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><img class="img-responsive" src="img/hum.png"></div>
                    <div class="col-xs-6">
                        <input type="number" ng-model="params.humidityGoal">
                    </div>
                    <div class="col-xs-3"> %</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><img class="img-responsive" src="img/temp.png"></div>
                    <div class="col-xs-6">
                        <input type="number" ng-model="params.airTempGoal">
                    </div>
                    <div class="col-xs-3"> ºC</div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><img class="img-responsive" src="img/light1.png"></div>
                    <!--<div class="col-xs-1 small_text">On</div>-->
                    <div class="col-xs-4 timeInput">
                        <span>On </span>
                        <input style="float: left;" type="time" ng-model="params.lightOn">
                    </div>
                    <!--<div class="col-xs-1 small_text">Off</div>-->
                    <div class="col-xs-4 timeInput">
                        <span>Off </span>
                        <input style="float: left" type="time" ng-model="params.lightOff">
                    </div>
                </div>
                <div class="row">
                    <!--title-->
                    <div class="col-xs-3"></div>
                    <div style="font-size: 1em" class="col-xs-3">Ratio</div>
                    <div style="font-size: 1em" class="col-xs-6">Nutrient Name</div>
                </div>
                <div class="row firstrow">
                    <div class="col-xs-3"><img class="img-responsive" src="img/n1.png"></div>
                    <div class="col-xs-3">
                        <input type="number" ng-model="params.nut1Prop">
                    </div>
                    <div class="col-xs-6">
                        <input type="text" ng-model="params.nut1Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><img class="img-responsive" src="img/n2.png"></div>
                    <div class="col-xs-3">
                        <input type="number" ng-model="params.nut2Prop">
                    </div>
                    <div class="col-xs-6">
                        <input type="text" ng-model="params.nut2Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><img class="img-responsive" src="img/n3.png"></div>
                    <div class="col-xs-3">
                        <input type="number" ng-model="params.nut3Prop">
                    </div>
                    <div class="col-xs-6">
                        <input type="text" ng-model="params.nut3Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><img class="img-responsive" src="img/n4.png"></div>
                    <div class="col-xs-3">
                        <input type="number" ng-model="params.nut4Prop">
                    </div>
                    <div class="col-xs-6">
                        <input type="text" ng-model="params.nut4Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><img class="img-responsive" src="img/n5.png"></div>
                    <div class="col-xs-3">
                        <input type="number" ng-model="params.nut5Prop">
                    </div>
                    <div class="col-xs-6">
                        <input type="text" ng-model="params.nut5Name">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-3"><img class="img-responsive" src="img/n6.png"></div>
                    <div class="col-xs-3">
                        <input type="number" ng-model="params.nut6Prop">
                    </div>
                    <div class="col-xs-6">
                        <input type="text" ng-model="params.nut6Name">
                    </div>
                </div>
                <div class="row">
                    <button id="submit_btn" ng-click="setParams()" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>
    </div>

<script src="bower_components/jquery/jquery.min.js"></script>
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
</body>
</html>