<!DOCTYPE html>
<html ng-app="cpApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>HELLO!!!!! CLOUDPONICS!!!</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="MainController">
    <div class="container-fluid">
        <div class="jumbotron">
            <h3>CLOUDPONICS</h3>
        </div>
        <div class="row">
            <accordion>
                <accordion-group heading="Params & Header">
                    <div class="col-xs-8">
                        <h3>System Params</h3>
                        <form>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div>
                                        <label>nut1Prop: </label>
                                        <input type="number" ng-model="params.nut1Prop">
                                    </div>
                                    <br>
                                    <div>
                                        <label>nut2Prop: </label>
                                        <input type="number" ng-model="params.nut2Prop">
                                    </div>
                                    <br>
                                    <div>
                                        <label>nut3Prop: </label>
                                        <input type="number" ng-model="params.nut3Prop">
                                    </div>
                                    <br>
                                    <div>
                                        <label>nut4Prop: </label>
                                        <input type="number" ng-model="params.nut4Prop">
                                    </div>
                                    <br>
                                    <div>
                                        <label>totalNut (ml): </label>
                                        <input type="number" ng-model="params.totalNut">
                                    </div>
                                    <br>
                                    <div>
                                        <label>nut1Name: </label>
                                        <input type="text" ng-model="params.nut1Name">
                                    </div>
                                    <br>
                                    <div>
                                        <label>nut2Name: </label>
                                        <input type="text" ng-model="params.nut2Name">
                                    </div>
                                    <br>
                                    <div>
                                        <label>nut3Name: </label>
                                        <input type="text" ng-model="params.nut3Name">
                                    </div>
                                    <br>
                                    <div>
                                        <label>nut4Name: </label>
                                        <input type="text" ng-model="params.nut4Name">
                                    </div>
                                    <br>
                                    <div>
                                        <label>nut5Name: </label>
                                        <input type="text" ng-model="params.nut5Name">
                                    </div>
                                    <br>
                                    <div>
                                        <label>nut6Name: </label>
                                        <input type="text" ng-model="params.nut6Name">
                                    </div>
                                    <br>
                                    <div>
                                        <label>pHDown (ml): </label>
                                        <input type="number" ng-model="params.pHDownML">
                                    </div>
                                    <br>
                                    <div>
                                        <label>pHGoal: </label>
                                        <input type="number" step="any" ng-model="params.pHGoal">
                                    </div>
                                    <br>
                                    <div>
                                        <label>eCGOal: </label>
                                        <input type="number" step="any" ng-model="params.eCGoal">
                                    </div>
                                    <br>
                                    <div>
                                        <label>humidityGoal: </label>
                                        <input type="number" step="any" ng-model="params.humidityGoal">
                                    </div>
                                    <div>
                                        <label>airTempGoal: </label>
                                        <input type="number" step="any" ng-model="params.airTempGoal">
                                    </div>
                                    <br>
                                </div>
                                <div class="col-xs-5">
                                    <div>
                                        <label>pHSamplingInterval: </label>
                                        <input type="number" step="any" ng-model="params.pHSamplingInterval">
                                    </div>
                                    <br>
                                    <div>
                                        <label>eCSamplingInterval: </label>
                                        <input type="number" step="any" ng-model="params.eCSamplingInterval">
                                    </div>
                                    <br>
                                    <div>
                                        <label>tempSamplingInterval: </label>
                                        <input type="number" step="any" ng-model="params.tempSamplingInterval">
                                    </div>
                                    <br>
                                    <div>
                                        <label>pHDownPumpActInterval: </label>
                                        <input type="number" step="any" ng-model="params.pHDownPumpActInterval">
                                    </div>
                                    <br>
                                    <div>
                                        <label>nutPumpActInterval: </label>
                                        <input type="number" step="any" ng-model="params.nutPumpActInterval">
                                    </div>
                                    <br>
                                    <div>
                                        <label>optProcedureInterval: </label>
                                        <input type="number" step="any" ng-model="params.optProcedureInterval">
                                    </div>
                                    <br>
                                    <div>
                                        <label>pHPrecision: </label>
                                        <input type="number" step="any" ng-model="params.pHPrecision">
                                    </div>
                                    <br>
                                    <div>
                                        <label>eCPrecision: </label>
                                        <input type="number" step="any" ng-model="params.eCPrecision">
                                    </div>
                                    <br>
                                    <div>
                                        <label>circulationTime: </label>
                                        <input type="number" step="any" ng-model="params.circulationTime">
                                    </div>
                                    <br>
                                    <div>
                                        <label>hourOn: </label>
                                        <input type="number" step="any" ng-model="params.hourOn">
                                    </div>
                                    <br>
                                    <div>
                                        <label>hourOff: </label>
                                        <input type="number" step="any" ng-model="params.hourOff">
                                    </div>
                                    <br>
                                    <div>
                                        <label>minutesOn: </label>
                                        <input type="number" step="any" ng-model="params.minutesOn">
                                    </div>
                                    <br>
                                    <div>
                                        <label>minutesOff: </label>
                                        <input type="number" step="any" ng-model="params.minutesOff">
                                    </div>
                                    <br>
                                </div>
                                <div class="col-xs-3"></div>
                            </div>
                            <br>
                            </form>
                        <button ng-click="updateParamsFunc(params)">Update Params!</button>
                        <br>
                    </div>
                    <div class="col-xs-4">
                        <h3>Flags Header</h3>
                        <form id="flagHeader">
                            <label>systemOff: </label>
                            <button ng-class="{false: 'off', true: 'on'}[header.systemOff]" ng-click="toggleSwitch('systemOff')">
                                {{header.systemOff == true ? 'ON' : 'OFF' }}
                            </button>
                            <br>
                            <label>updateParams: </label>
                            <button ng-class="{false: 'off', true: 'on'}[header.updateParams]" ng-click="toggleSwitch('updateParams')">
                                {{header.updateParams ? 'ON' : 'OFF' }}
                            </button>
                            <br>
                            <label>pH4Calibration: </label>
                            <button ng-class="{false: 'off', true: 'on'}[header.pH4Calibration]" ng-click="toggleSwitch('pH4Calibration')">
                                {{header.pH4Calibration ? 'ON' : 'OFF' }}
                            </button>
                            <br>
                            <label>pH7Calibration: </label>
                            <button ng-class="{false: 'off', true: 'on'}[header.pH7Calibration]" ng-click="toggleSwitch('pH7Calibration')">
                                {{header.pH7Calibration ? 'ON' : 'OFF' }}
                            </button>
                            <br>
                            <label>eCCalibration: </label>
                            <button ng-class="{false: 'off', true: 'on'}[header.eCCalibration]" ng-click="toggleSwitch('eCCalibration')">
                                {{header.eCCalibration ? 'ON' : 'OFF' }}
                            </button>
                            <br>
                            <label>n1PumpOR: </label>
                            <button ng-class="{false: 'off', true: 'on'}[header.n1PumpOR]" ng-click="toggleSwitch('n1PumpOR')">
                                {{header.n1PumpOR ? 'ON' : 'OFF' }}
                            </button>
                            <br>
                            <label>n2PumpOR: </label>
                            <button ng-class="{false: 'off', true: 'on'}[header.n2PumpOR]" ng-click="toggleSwitch('n2PumpOR')">
                                {{header.n2PumpOR ? 'ON' : 'OFF' }}
                            </button>
                            <br>
                            <label>n3PumpOR: </label>
                            <button ng-class="{false: 'off', true: 'on'}[header.n3PumpOR]" ng-click="toggleSwitch('n3PumpOR')">
                                {{header.n3PumpOR ? 'ON' : 'OFF' }}
                            </button>
                            <br>
                            <label>n4PumpOR: </label>
                            <button ng-class="{false: 'off', true: 'on'}[header.n4PumpOR]" ng-click="toggleSwitch('n4PumpOR')">
                                {{header.n5PumpOR ? 'ON' : 'OFF' }}
                            </button>
                            <br>
                            <label>pHDownPumpOR: </label>
                            <button ng-class="{false: 'off', true: 'on'}[header.pHDownPumpOR]" ng-click="toggleSwitch('pHDownPumpOR')">
                                {{header.pHDownPumpOR ? 'ON' : 'OFF' }}
                            </button>
                            <br>
                            <label>optProcedureOR: </label>
                            <button ng-class="{false: 'off', true: 'on'}[header.optProcedureOR]" ng-click="toggleSwitch('optProcedureOR')">
                                {{header.optProcedureOR ? 'ON' : 'OFF' }}
                            </button>
                            <br>
                        </form>
                        <br>
                        <button ng-click="get_header()">Get Header</button>
                        <br>
                    </div>
                </accordion-group>
            </accordion>
        </div>
    </div>
    <br>
    <button ng-click="getData()">Get Data!</button>
    <br>
    <button ng-click="removeAll()">Remove All!</button>
    <button ng-click="toggleAutoUpdateTable()">{{autoUpdateTable ? 'Auto Update ON' : 'Auto Update OFF'}}</button>

    <br>
    <br>

    <!--<ul>-->
        <!--<li ng-repeat="message in messages">{{message.message}}</li>-->
    <!--</ul>-->

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Entry Number</th>
            <th>timeStamp</th>
            <th>pH</th>
            <th>instant_pH</th>
            <th>eC</th>
            <th>instant_eC</th>
            <th>temp</th>
            <th>instant_temp</th>
            <th>airTemp</th>
            <th>humidity</th>
            <th>luminosity</th>
            <th>co2</th>
            <th>pHGoal</th>
            <th>eCGoal</th>
            <th>humidityGoal</th>
            <th>airTempGoal</th>
            <th>pHLevelingState</th>
            <th>eCLevelingState</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="datalog in datalogs | orderBy:'timeStamp':true">
                <td>{{datalog.index}}</td>
                <td>{{datalog.timeStamp}}</td>
                <td>|{{datalog.pH}}</td>
                <td>{{datalog.instant_pH}}|</td>
                <td>|{{datalog.eC}}</td>
                <td>{{datalog.instant_eC}}|</td>
                <td>|{{datalog.temp}}</td>
                <td>{{datalog.instant_temp}}|</td>
                <td>{{datalog.airTemp}}</td>
                <td>{{datalog.humidity}}</td>
                <td>{{datalog.luminosity}}</td>
                <td>{{datalog.co2}}</td>
                <td>{{datalog.pHGoal}}</td>
                <td>{{datalog.eCGoal}}</td>
                <td>{{datalog.humidityGoal}}</td>
                <td>{{datalog.airTempGoal}}</td>
                <td>{{datalog.pHLevelingState}}</td>
                <td>{{datalog.eCLevelingState}}</td>
            </tr>
        </tbody>
    </table>

    <script src="bower_components/jquery/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
</body>
</html>