<!--<div class="row titlerow">-->
    <!--<div class="col-xs-6">Type</div>-->
    <!--<div class="col-xs-6"></div>-->
<!--</div>-->
<div class="row configrow">
    <div class="col-xs-6">Nutrients m/l step</div>
    <div class="col-xs-6">
        <div>
            <input type="number" ng-model="params.totalNut">
        </div>
    </div>
</div>
<div class="row configrow">
    <div class="col-xs-6">Nutrients Proportions</div>
    <div class="col-xs-6">
        <table>
            <th>
                <td>Nut 1</td>
                <td>Nut 2</td>
                <td>Nut 3</td>
                <td>Nut 4</td>
            </th>
            <tr>
                <td><input type="number" ng-model="params.nut1Prop"></td>
                <td><input type="number" ng-model="params.nut2Prop"></td>
                <td><input type="number" ng-model="params.nut3Prop"></td>
                <td><input type="number" ng-model="params.nut4Prop"></td>
            </tr>
        </table>
    </div>
</div>

