<div class="row titlerow">
    <div class="col-xs-3">Type</div>
    <div class="col-xs-5">Current</div>
    <div class="col-xs-4">Goal</div>
</div>
<div class="row datarow">
    <div class="col-xs-3">EC</div>
    <div class="col-xs-5">{{state.eC}}</div>
    <div class="col-xs-4">{{state.eCGoal}}</div>
</div>
<div class="row datarow">
    <div class="col-xs-3">pH</div>
    <div class="col-xs-5">{{state.pH}}</div>
    <div class="col-xs-4">{{state.pHGoal}}</div>
</div>
<div class="row datarow">
    <div class="col-xs-3">Water Temp</div>
    <div class="col-xs-5">{{state.temp}}</div>
    <div class="col-xs-4">N/A</div>
</div>
<div class="row datarow">
    <div class="col-xs-3">co2</div>
    <div class="col-xs-5">{{state.co2}}</div>
    <div class="col-xs-4">N/A</div>
</div>
<div class="row datarow">
    <div class="col-xs-3">Temperature</div>
    <div class="col-xs-5">{{state.airTemp}}</div>
    <div class="col-xs-4">N/A</div>
</div>
<div class="row datarow">
    <div class="col-xs-3">Luminosity</div>
    <div class="col-xs-5">{{state.luminosity}}</div>
    <div class="col-xs-4">N/A</div>
</div>
<div class="row datarow">
    <div class="col-xs-3">Humidity</div>
    <div class="col-xs-5">{{state.humidity}}</div>
    <div class="col-xs-4">{{state.humidityGoal}}</div>
</div>
